<div class="animal-overview">
    <div class="container">
        <div class="row">
            <h1>Ich verwandle mich in ein Tier!</h1><br>
        	<div class="animal" ng-repeat="animal in animals">
        		<div ng-click="setCurrent($index)" class="img-wrapper"
        			 style="background-image: url('{{animal.image}}');">
        		</div>
        		<h4 ng-click="setCurrent($index)">{{animal.name}}</h4>
        	</div>
        </div>
    </div>
    <footer>
            &copy; 2015, Guido Schmidt. <a href="/#/about">Über</a>
    </footer>
</div>