@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);

$text-color-light : rgb(180, 180, 180);
$deco-color       : rgb(97, 203, 255);


.description-section {
    padding: 10em 2em 0 2em;
    text-align: center;

    img {
        display: inline-block;
    }

    .logo {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                vertical-align: middle;
                h1 {
                    display: inline-flex;
                    font-family: 'Just Me Again Down Here', cursive;
                    font-size: 8em;
                    margin-top: 0.1em;
                    margin-left: 0.2em;
                }
            }
        }
    }
}

.download-section {
    text-align: center;

    h2 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    ul {
        margin: 5em 0;
        li {
            display: inline;
            padding: 5em 2em;
            margin: 5em 3em;

            a {
                text-decoration: none;
                font-size: 2em;
                color: $deco-color;
                border-bottom: 5px solid rgba(0,0,0,0);
                -webkit-transition: all .25s ease;
                   -moz-transition: all .25s ease;
                    -ms-transition: all .25s ease;
                     -o-transition: all .25s ease;
                        transition: all .25s ease;

                &:hover {
                    padding-bottom: .25em;
                    border-bottom: 5px solid $deco-color;
                    -webkit-transition: all .25s ease;
                       -moz-transition: all .25s ease;
                        -ms-transition: all .25s ease;
                         -o-transition: all .25s ease;
                            transition: all .25s ease;
                }
            }
        }
    }
}


footer {
    margin-top: 8em;
    margin-bottom: 4em;
    color: $text-color-light;
    text-align: center;
}